/* 
** Bootstrap Overrides
*/
body {
	background-color: #fff;
    color: #222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}
a, button, input:focus, input[type="button"], input[type="reset"], input[type="submit"], textarea:focus, .button {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover{
	color: $brand-primary;
}
:focus, button:focus {
	outline: none;
}
.navbar {
	padding: 2rem 0;
}
.py-half {
	padding-top: .5em;
	padding-bottom: .5em;
}
.btn,
.btn-sm {
	border-radius: 0px;
}
.btn {
	text-transform: uppercase;
	font-weight: 400;
	padding: .675rem 1.6rem;
}
.btn-lg {
	font-weight: normal;
}
.btn-primary {
	color: white;
}
.btn-white {
	background-color: white;
}
body ol, body ul, body dl {
	@extend p;
}
.text-sm {
	font-size: $font-size-sm;
}
.bg-blue {
	background-color: $brand-blue;
	color: white;
}
.bg-blue-dark {
	background-color: $brand-dark-blue;
	color: white;
	font-size: $font-size-sm;
}
.text-sm {
	font-size: $font-size-sm;
}
h3 {
	margin-bottom: 1em;
}
p, body ol, body ul, body dl {
	margin-bottom: 1.2em;
}
/*
** Componant: Global Header
*/
.sticky.is-sticky {
	position: fixed !important;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
}
#header-sub, #header-text {
    font-size: $font-size-sm;  
    line-height: 1.4em;	
}
#header-sub {
	font-weight: 500;
	color: $brand-blue;
	font-style: italic;
}
#header-text {
	
	a {
		color: $brand-blue;
	}
}
#nav-main {
	background-color: #333;	
	-webkit-box-shadow: $box-shadow-bottom;
    -moz-box-shadow: $box-shadow-bottom;
    box-shadow: $box-shadow-bottom;
	position: relative;
	
	a {
		padding: 16px 20px 14px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		
		
		&.active, &.hover, &.focus {
			background-color: $brand-primary;
			color: #333;
		}	 
	}
	.navbar {
		padding: 0;
	}
	.navbar-toggler {
		padding: .75rem;
		border: none;
	}
	.nav-link {
	    font-size: $font-size-sm;
    } 
    .current-menu-parent {
	    background-color: $brand-primary;
	    
	    > a {
		    color: #333;
	    }
    }
}
.dropdown-menu {
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.35);
    padding: 0;
    background-color: #333;
    margin: 0;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
   
    .dropdown-item {
	    font-size: $font-size-sm;
	    font-weight: 300;
    }
    .dropdown-item:hover, .dropdown-item:focus {
	    background-color: $brand-primary;
	    color: white;
    }
}

/*
** Component: Content Area
*/
.container-shadow {
	box-shadow: $box-shadow-sides;
}
#content-area {
	background: url(assets/img/pattern.jpg) top repeat;
	
	#content {
		background-color: white;
		padding: 3em;
	}
}
.page-template-default {
	#content-area {
		#content {
			padding: 2em 3em 3em 3em;
		}
	}
}
@media(max-width: 767px) {
	#content-area {
		#content {
			padding: 1em;
		}
	}
	.page-template-default {
		#content-area {
			#content {
				padding: 1em;
			}
		}
	}
}

/*
** Component:  Hero Banner
*/
@media(max-width: 767px) {
	.hero-image {
		min-height: 250px;
		width: auto;
	}	
}

/*
** Component: Sub Navigation
*/
#subnav {
	height: 42px;
	box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
	a {
		color: white;
		font-weight: normal;
		height: 42px;
		line-height: 42px;
		font-size: $font-size-sm;
	}
	.list-inline-item {
		vertical-align: top;
		position: relative;
	}
	.list-inline-item:not(:last-child) {
		margin-right: 1.5rem;
	}
	.active:after {
		content: ' ';
		border:10px solid transparent;
		border-top:10px solid #064D80;
		border-left:10px solid transparent;
		display:inline-block;
		height:0;
		width:0;
		position:absolute;
		margin-left:-10px;
		left: 50%;
	}
}

@media(max-width: 1200px) {
	#subnav {
		a {
			font-size: $font-size-xs;
		}
		.list-inline-item:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

/*
** Component: Sidebar
*/
.featured_news {
	h3 a {
		text-decoration: none;
		color: white;
		font-size: $font-size-lg;
	}
}
.featured_news_text {
	font-size: $font-size-sm;
	margin-bottom: 0;
}
.additional_news {
	background-color: $gray-600;
	
	a {
		color: white;
	}
	div, li {
		padding: 1em;
		border-bottom: 1px solid $gray-500;
	}
	div {
		font-size: $font-size-lg;
		font-weight: bold;
	}
	li {
		font-size: $font-size-sm;
		line-height: $line-height-sm;
	}
}

/*
** Component: List Group Block
*/
.accordion {
	.card {
		border: none;
		
		.card-header {
			background-color: transparent;
			padding: 0 0 .75rem 0;
			margin-bottom: .75rem;
			
			h5 {
				color: $brand-blue;
				cursor: pointer;
			}
		}
		.card-body {
			padding: .75rem 0;
			
			p:last-child {
				margin-bottom: .75rem;
			}
		}
	}
}
/*
** Component: Footer
*/
#footer {
	-webkit-box-shadow: $box-shadow-top;
    -moz-box-shadow: $box-shadow-top;
    box-shadow: $box-shadow-top;
    
	p, a {
		color: white;
	}
	a.text-primary:hover {
		color: $brand-primary !important;
	}
	h4 {
		border-bottom: 1px solid white;
		padding-bottom: .5em;
		font-size: $font-size-lg;
	}
	ul {
		margin-bottom: 0;
	}
	#menu-footer-menu {
		@extend .list-unstyled;
	}
}

/*
** Component: Blog List
*/
.blog-list-wrap {
	background: url(assets/img/lines.png) bottom repeat-x;
    background-size: 8px 8px;	
    
	a {
		color: #333;
	}
	a:hover {
		color: $brand-primary;
	}
	h2 a:hover {
		text-decoration: none;
	}
	p {
		margin-bottom: 0;
	}
}

/* 
** Component - Search Results Pagination
*/

.page-numbers {
	margin: 0px;
	text-align: center;
	background-color: $gray-200;
	padding: 1em 0;
	
	li {    
		margin: 0px;
		padding: 0px;
		display: inline;
		text-transform: uppercase;
	}
	span.current {
    	cursor: default;
	}
	span, a, .view-more {
	    text-decoration: none;
	    line-height: 1;
	    cursor: pointer;
	    display: inline-block;
	    padding: 14px 18px;
	    font-size: 85%;
	    font-weight: 700;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    margin-right: 6px;
	}
}
/*
** Posts
*/
#content {
	img {
		@extend .img-fluid;
	}
	.wp-caption-text {
		background-color: #eee;
	    color: #555;
	    padding: 1em;
	    font-size: .75em;
	    line-height: 1.35em;
	    font-weight: 400;
	}
	figure.alignleft, figure.alignright {
		max-width: 45% !important;
		
		img {
			width: 100% !important;
		}
	}
	img.alignleft, img.alignright {
		max-width: 45% !important;
	}
	.alignleft {
		float: left;
		margin: 0 1em 0 0;
	}
	.alignright {
		float: right;
		margin: 0 0 0 1em;
	}
	.aligncenter {
		margin: 0 auto 2em auto;
	}
	h6 {
		font-size: .85em;
	    line-height: 1.5em;
	    font-weight: 400;
	}
}
@media (max-width: 1200px) {
	#content {
		figure.alignleft, figure.alignright {
			max-width: 45% !important;
			
			img {
				width: 100% !important;
			}
		}
		img.alignleft, img.alignright {
			max-width: 45% !important;
		}
	}
}
@media (max-width: 768px) {
	#content {
		figure.alignleft, figure.alignright {
			max-width: 40% !important;
			
			img {
				width: 100% !important;
			}
		}
		img.alignleft, img.alignright {
			max-width: 40% !important;
		}
		figure.aligncenter {
			max-width: 75%;
		}
		.alignleft, .alignright, .aligncenter {
			margin-bottom: 2em;
		}
	}
}
@media (max-width: 576px) {
	#content {
		figure.alignleft, figure.alignright, figure.aligncenter {
			max-width: 100% !important;
			width: 100% !important;
			
			img {
				width: 100% !important;
			}
		}
		img.alignleft, img.alignright, img.aligncenter, .img.alignnone {
			max-width: 100% !important;
			width: 100% !important;
		}
		.alignleft, .alignright, .aligncenter {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
/*
** Plugin: Gravity Forms
*/
.form-inline .label {
	@extend .sr-only;
}
.gform_wrapper form {
	margin-bottom: 0;
}
.gform_wrapper ul {
	@extend .list-unstyled;
}
.gform_wrapper li {
	@extend .form-group;
}
.gform_wrapper .gfield_required {
	padding-left: 1px;
	color: $danger;
}
.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
	@extend .form-control;
}
.gform_wrapper .button {
	@extend .btn;
	@extend .btn-primary;
}
.gform_wrapper .gfield_error {
	.gfield_label {
		@extend .alert-danger;
	}	
	input,
	select,
	textarea {
		@extend .alert-danger;
	}
}
.validation_error {
	@extend .alert;
	@extend .alert-danger;
}
.validation_message,
.gform_validation_container,
.form-inline label {
	display: none !important;
}
.gform_confirmation_message {
	color: $brand-primary;
	font-weight: bold;
}
/*
** Form Overrides
*/
body {
	.gform_confirmation_message {
		color: #222;
	}
	.gform_wrapper {
		h3.gform_title {
			font-size: 2.0rem;
		}
		h2.gsection_title {
			font-size: 1.25em;
		}
		.gf_page_steps {
			background-color: $brand-blue;
			color: white;
	    	border: none;
	    	margin: 0 0 40px;
			padding: 0 0 0 20px;
		}
		.gf_step {
			font-size: 1.1rem;
			font-weight: normal;
			height: auto;
		}
		.gf_step span.gf_step_number {
			font-size: 1em;
		}
		&.gf_browser_chrome .gfield_checkbox li input, &.gf_browser_chrome .gfield_checkbox li input[type=checkbox], &.gf_browser_chrome .gfield_radio li input[type=radio] {
			margin-top: 0;
		}
		.gform_body {

			.gfmc-column {
				margin-bottom: 0;
			}
			ul {
				margin-bottom: 0;
				
				li.gfield {
					padding-top: 0;
				}
			}
			.top_label {
				.gfield_label {
					font-size: .92rem;
					margin: 0;
				}
			}
			.ginput_container_email {
				width: 100%;
				
				input {
					border-right: none;
					width: 100%;
				}
			}
			.field_description_below .gfield_description {
				padding-top: 5px;
			}
			.field_description_below .gfield_description, .field_sublabel_above .ginput_complex.ginput_container label, .field_sublabel_above div[class*=gfield_date_].ginput_container label, .field_sublabel_above div[class*=gfield_time_].ginput_container label, .field_sublabel_below .ginput_complex.ginput_container label, .field_sublabel_below div[class*=gfield_date_].ginput_container label, .field_sublabel_below div[class*=gfield_time_].ginput_container label {
				font-weight: 500;
				font-size: .813em;
			    letter-spacing: .5pt;
			    white-space: nowrap;
			    color: $gray-600;
			}
			.gfield_checkbox li label {
				font-weight: normal;
				padding-left: 7px;
			}
			li.gfield.field_description_below+li.gsection {
				margin-top: 5px !important;
			}
			ul.gfield_checkbox li input[type=checkbox]:checked+label {
				font-weight: normal;
			}
			.ginput_container_fileupload {
				.top_label input.medium {
					font-size: .85em;
				}
			}
			.ginput_container_fileupload {
				font-size: .85em;	
			}
			.gpnf-nested-entries-container {
				@extend .table-responsive;
				
				.gpnf-nested-entries {
					@extend .table;
					@extend .table-striped;
					@extend .table-bordered;
					@extend .table-sm;
					margin-bottom: 1em;
					
					thead {
						@extend .thead-light;
						
						th {
							font-size: .85em;
						}
					}
					tbody {
						font-size: 1rem;
						font-weight: normal;
					}
					.gpnf-row-actions {
						a {
							color: $brand-blue;
						}
					}
				}
				.gpnf-add-entry, .gpnf-add-entry:hover  {
					@extend .btn;
					@extend .btn-primary;
					padding: .6em .95em;
					margin-top: 0;
				    font-size: .8em;
				    color: white;
				}
			}
		}
		.gform_footer{
			.button {
				@extend .btn-sm;
				@extend .btn-block;
				padding: 0.7rem .5rem;
			}	
		}
	}
	.gpnf-dialog {
		.ui-dialog-titlebar {
			background-color: $brand-blue;
		}
		.ui-dialog-content {
			padding: 0px;
			border: none;
			
			h3 {
				margin-bottom: 0;
				color: #555;
				font-weight: bold;
			}
			ul {
				padding: 1.2em;
			}
			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea.medium, ul.gform_fields li.gfield select {
				font-size: 12px;
				padding: 2px 10px;
			}
			.gfield_radio {
				padding: 0;
			}
			.gform_fields {
				padding: 0;
				
				li:first-child {
					ul {
					    background-color: #ccc;
						margin-right: .5em;
					}
				}
			}
			.top_label {
				.gfield_label {
					font-size: .85rem;
				}
			}
			.gform_fields.top_label.form_sublabel_below.description_below {
				margin-top: -5px !important;
			}
			table.gfield_list thead th {
				font-size: .85rem;
			}
			table.gfield_list th+th {
				padding: 0 0 0 5px;
			}
			.gform_footer {
				padding: 0;
				margin: 0;
				
				input[type=submit] {
					margin-right: 0;
				}
			}
			.add_list_item  {
				width: 15px;
			}
		}
	}
}
@media only screen and (min-width: 641px) {
	body {
		.gform_wrapper {
			.gsection {
				margin: 10px 16px 10px 0;
			}
			.top_label li.gfield.gf_right_third+li.gsection {
				padding: 5px 0 5px;
			}
		}
	}
}
@media only screen and (min-width: 641px) {
	.gpnf-dialog .gform_wrapper ul.gform_fields li.gfield {
	    padding-right: 0;
	}
}